<links href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<style>
  body{
    background-image: linear-gradient( to right, #feca57, #55efc4);
  }

    .links {
      display: flex;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .links-option {
      text-align: center;
      width: 200px;
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      font-size: 25px;
      margin: 20px;
      color: white;
      background-color: #1B9CFC;
      padding: 10px;
      border-radius: 5px;
    }
    .links-option:hover{
      text-shadow: 2px 2px #38f213;
      font-size: 25.5px;
    }
  
    .logout-btn {
      position: absolute;
      right: 5%;
      top: 5%;
      text-decoration: none;
      font-size: 16px;
      background-color: #ba13f2;
      font-weight: 600;
      color: white;
      border-radius: 5px;
      padding: 10px;
    }
    .logout-btn:hover{
      background-color: #f21313;
      font-size: 16.3px;
    }
</style>

<div class="links">
  <a class="links-option" href="/admin/students">Students List</a>
  <a class="links-option" href="/admin/faculty">Teachers List</a>
  <a class="links-option" href="/admin/management">Staff</a>
  <a class="links-option" href="/admin/academics">Academics</a>
</div>

<a class="logout-btn" href="/admin/logout">Logout</a>
