<!DOCTYPE html>
<html>
  <head>
    <!-- CSS bootrap only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- body font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap"
      rel="stylesheet"
    />
    <!-- heading font --> 
    <link
      href="https://fonts.googleapis.com/css2?family=Ewert&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      background-image: linear-gradient(to right, #feca54, #55efc4);
      font-family: "Playfair Display", serif;
      margin-left: 30px;
      margin-top: 5vh;
      margin-bottom: 10vh;
    }
    .heading {
      font-family: "Ewert", cursive;
      color: white;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 15px;
    }
    .sub-list {
      margin-top: 50px;
      text-align: center;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    .sub-div {
      background-image: linear-gradient(to right, #03ecfc, #565cd6);
      padding-top: 50px;
      padding-bottom: 50px;
      width: 30vw;
      display: flex;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
    .sub-name {
      text-align: center;
      width: 300px;
      text-decoration: none;
      font-family: "Playfair Display", serif;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #8334eb;
      padding: 10px;
      border-radius: 5px;
    }
  </style>
  <body>
    <div class="row sub-div">
      <h1 class="col-12 heading">Subjects:</h1>
      <div class="col-12">
        <ul class="sub-list">
          <ol>
            <%subjects.forEach((sub)=>{%>
            <li>
              <a href="/student/subject/<%=sub._id%>"
                ><%= sub.name %>(<%= sub.subject_id %>)</a
              >
            </li>
            <%})%>
          </ol>
        </ul>
      </div>
    </div>
  </body>
</html>
