<head>
    <title><%= title %></title>
</head>
<body>
    <h1>FACULTY LIST</h1>
    <div class = list>
        <ul>
            <% for(var person of people) { %>
            <li><a href = "/admin/faculty/edit/<%= person._id %>"><%= person.name %></a></li>
            <% } %>
        </ul>
    </div>
    <br>
    <br>
    <h3><a href = "/admin/faculty/add">Add Faculty</a></h3>
</body>