
<h1>Admin Login Portal </h1>
<form method = "POST" action="/admin/login">
  <label for="fname">Admin Username:</label><br>
  <input type="text" id="fname" name="username"><br>
  <label for="lname">Admin Password</label><br>
  <input type="password" id="lname" name="password"><br><br>
  <input type="submit" value="Submit">
</form> 

