* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}
body {
  margin: 0;
  padding: 0;
  background: #34495e;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
a {
  font-family: tahoma;
  font-size: 15px;
  position: absolute;
  color: #1b9cfc;
  padding: 0;
  font-weight: 500;
}
a:hover {
  background: black;
  color: white;
  transition: 2s;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.Modal {
  max-width: 500px;

  background: black;
  opacity: 0.7;
  margin: 0px auto;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
  /*padding: 20px;*/
  display: block;
  position: absolute;
  z-index: 1;
  left: 34.5%;

  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Modal.show-modal {
  display: block;
}
.modal-content {
  width: 100%;
  margin: auto;
}
.modal-header h2 {
  margin-top: 20px;
  font-family: bookman old style;
  color: #1b9cfc;
  font-size: 22px;
  text-align: center;
}
.modal-header {
  background: var(--primary-color);
  background: #112738;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: white;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Modal .form {
  width: 100%;
}

.Modal .form .inputfield {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.Modal .form .inputfield label {
  width: 200px;
  color: white;
  margin-right: 10px;
  font-size: 14px;
}

.Modal .form .inputfield .input,
.Modal .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.Modal .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}

.Modal .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.Modal .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.Modal .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 87ceeb;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.Modal .form .inputfield .input:focus,
.Modal .form .inputfield .textarea:focus,
.Modal .form .inputfield .custom_select select:focus {
  border: 1px solid #fec107;
}

.Modal .form .inputfield p {
  font-size: 14px;
  color: white;
}
.Modal .form .inputfield .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.Modal .form .inputfield .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.Modal .form .inputfield .check .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.Modal .form .inputfield .check .checkmark:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.Modal .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark {
  background: #fec107;
}

.Modal
  .form
  .inputfield
  .check
  input[type="checkbox"]:checked
  ~ .checkmark:before {
  display: block;
}

.Modal .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  margin-bottom: 15px;
  background: #fec107;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.Modal .form .inputfield .btn:hover {
  background: #ffd658;
}

.Modal .form .inputfield:last-child {
  margin-bottom: 0;
}
.Modal .form .inputfield a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
}
.Modal .form .inputfield a:hover {
  color: #00ffff;
}

@media (max-width: 600px) {
  .Modal {
    left: 10vw;
    width: 80vw;
  }
}

.slide {
  animation: slide 2s;
}
.slideshow {
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  animation: slide 40s infinite;
}
@keyframes slide {
  0% {
    background-image: url("../assets/images/IITR.jpg");
  }
  25% {
    background-image: url("../assets/images/IITR.jpg");
  }
  50% {
    background-image: url("../assets/images/IITR.jpg");
  }
  75% {
    background-image: url("../assets/images/IITR.jpg");
  }
  100% {
    background-image: url("../assets/images/IITR.jpg");
  }
}
.contact {
  margin-bottom: 10px;
  padding: 10px;
}

.contact a {
  color: white;
  margin-bottom: 4px;
  font-family: tahoma;
  font-weight: 500;
  padding: 5px;
  font-style: bold;
}
.contact a:hover {
  background: black;
  color: white;
  transition: 2s;
}

ul {
  list-style: none;
}

.slide {
  float: right;
}

.card {
  position: absolute;
  top: 24%;
  left: 3%;
  width: 300px;
  height: 440px;
  text-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.card1 {
  position: absolute;
  left: 77.5%;
  top: 24%;
  width: 300px;
  height: 440px;
  margin: 0;
  text-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.card .face {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 .faced {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .face.face1 {
  background: #111;
  box-sizing: border-box;
  padding: 20px;
  display: none;
  opacity: 0.7;
}

.card:hover .face.face1 {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.card .face.face1 h2 {
  color: #1b9cfc;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card .face.face1 .side {
  color: #fff;
  font-size: 23px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 20px;
}

.card .face.face1 ul {
  color: #fff;
  list-style: circle;
  font-size: 20px;
  line-height: 150%;
}

.card .face.face2 {
  background: #111;
  transition: 0.7s;
  opacity: 0.7;
}

.card:hover .face.face2 {
  height: 60px;
}

.card .face.face2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(225, 225, 225, 0.1);
}

.card .face.face2 h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #1b9cfc;
}

.card:hover .face.face2 h1 {
  font-size: 1.5em;
  color: #55efc4;
}

.card1 .faced.face1 {
  background: #111;
  box-sizing: border-box;
  padding: 20px;
  display: none;
  opacity: 0.8;
}

.card1 .faced.face1 h2 {
  color: #1b9cfc;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.card1 .faced.face1 li {
  color: #ffffff;
  list-style: circle;
  font-size: 20px;
  line-height: 150%;
  margin-left: 25px;
}

.card1:hover .faced.face1 {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.card1 .faced.face2 {
  background: #111;
  transition: 0.7s;
  opacity: 0.7;
}

.card1:hover .faced.face2 {
  height: 60px;
}

.card1 .faced.face2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(225, 225, 225, 0.1);
}

.card1 .faced.face2 h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #1b9cfc;
}

.card1:hover .faced.face2 h1 {
  font-size: 1.5em;
  color: #55efc4;
}

@media only screen and (max-width: 700px) {
  .card {
    display: none;
  }

  .card1 {
    display: none;
  }
}
