* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #34495e;       
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.Modal {
  max-width: 500px;

  
  margin: 0px auto;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
  /*padding: 20px;*/
  display: block;
  position: absolute;
  z-index: 1;
  left: 60vh;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Modal.show-modal {
  display: block;
}
.modal-content {
  width: 100%;
  margin: auto;
}
.modal-header h2 {
  margin-top: 20px;
  color: yellow;
  font-size: 30px;
  text-align: center;
}
.modal-header {
  background: var(--primary-color);
  background: #7395b0;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Modal .form {
  width: 100%;
}

.Modal .form .inputfield {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.Modal .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 87ceeb;
}

.Modal .form .inputfield .input,
.Modal .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 87ceeb;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.Modal .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}

.Modal .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.Modal .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.Modal .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 87ceeb;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

.Modal .form .inputfield .input:focus,
.Modal .form .inputfield .textarea:focus,
.Modal .form .inputfield .custom_select select:focus {
  border: 1px solid #fec107;
}

.Modal .form .inputfield p {
  font-size: 87ceeb;
  color: #757575;
}
.Modal .form .inputfield .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.Modal .form .inputfield .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.Modal .form .inputfield .check .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.Modal .form .inputfield .check .checkmark:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.Modal .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark {
  background: #fec107;
}

.Modal
  .form
  .inputfield
  .check
  input[type="checkbox"]:checked
  ~ .checkmark:before {
  display: block;
}

.Modal .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  margin-bottom: 15px;
  background: #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.Modal .form .inputfield .btn:hover {
  background: #ffd658;
}

.Modal .form .inputfield:last-child {
  margin-bottom: 0;
}
.Modal .form .inputfield a {
  color: #262626;
  font-size: 87ceeb;
  font-weight: bold;
}
.Modal .form .inputfield a:hover {
  color: #00ffff;
}

@media (max-width: 420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label {
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }
}

.slide{
    animation: slide 2s;
}
.slideshow{
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation: slide 20s forwards;
}
@keyframes slide{
    0%{
        background-image:url("../images/AIIMS.jpg");
    }
    25%{
        background-image: url("../images/IITB.jpg");
    }
    50%{
        background-image:url("../images/IITB2.jpg");
    }
    75%{
        background-image:url("../images/IITR.jpg");
    }
    100%{
        background-image: url("../images/Entrance_To_SMCH.jpg");
    }
    
}

