* {
    margin: 0;
    padding: 0;
}

body {
    background: #ebf5fc;
}

#blur.active {
    filter: blur(10px);
}

header {
    background: #32a3b1;
    height: 30vh;
}

h1 {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%);
    color: #ebf5fc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    position: relative;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
}

ul li a {
    display: block;
    width: 50px;
    height: 200px;
    width: 230px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 55px;
    margin: 40px 40px;
    background: #ebf5fc;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.53); 
    font-size: 18px;
    box-shadow: -6px -6px 20px rgba(255,255,255,1),
        6px 6px 20px rgba(0,0,0,.1);
}

.container ul:first-child{
    margin-top: 80px;
}

ul li a img {
    height: 130px;
    width: 150px;
    position: relative;
    top: 25px;
    left: 2px;
}

ul li a .fa {
    position: relative;
    left: 2px;
}

ul li a:hover .fa {
    color: #32a3b1;
}

ul li a:hover {
    box-shadow: -6px -6px 10px rgba(255,255,255,0.5),
        6px 6px 20px rgba(0,0,0,.05);
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup a {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    width: 100px;
    padding-left: 25px;
    padding-right: 20px;
    line-height: 55px;
    margin-right: 40px;
    margin-top: 35px;
    background: #ebf5fc;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    color: #32a3b1;
    font-size: 20px;
    box-shadow: -4px -4px 15px rgba(255,255,255,1),
        4px 4px 15px rgba(0,0,0,.1);
}

#popup a:hover {
    transform: scale(0.95);
}