.main {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 1px solid rgb(9, 9, 34);
  border-radius: 1rem;
}

.questions {
  display: flex;
  flex-direction: column;
}

.input-box {
  border-radius: 20px;
  margin-top: 10px;
  height: 35px;
  border-style: none;
  outline: none;
  border: 1px solid rgb(68, 0, 255);
  padding: 0.5rem;
}

.send-btn {
  border-radius: 10px;
  background-color: rgb(12, 12, 39);
  color: white;
  width: 100px;
  font-size: 20px;
  padding: 0.5rem;
  margin-top: 10px;
  border-style: none;
  cursor: pointer;
}

.contact {
  font-size: 20px;
}

@media (max-width: 600px) {
  .main {
    width: 75%;
  }
}
