html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.nav__moving-line {
  color: black;
  font-size: 100px;
  animation: type 5s infinite steps(26);
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  text-align: center;
  text-align: center;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 27ch;
  }
}
