html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.pseudonav {
  padding-top: 20px;
  background-image: linear-gradient(to right, #f6e47f, #ff621a);
  padding-bottom: 20px;
  color: white;
}

#banner {
  padding-top: 50px;
  background-image: linear-gradient(to right, #f6e47f, #ff621a);
  padding-bottom: 0px;
  color: white;
}

.stryke {
  display: none;
}

.pseudonav a {
  color: white;
  text-decoration: none;
}

.pseudonav a:hover {
  color: yellow;
}

#tagline {
  font-size: 36px;
}

.typing {
  padding-top: 15px;
  background-color: #1287a5;
  font-family: "Anonymous Pro", monospace;
  margin-bottom: -5px;
  z-index: 10000;
  border: 1px solid;
  margin: 0.2rem;
  color: #fff;
}

.line {
  position: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  z-index: 10000;
}

/*Animation*/

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s infinite normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

.logo {
  display: flex;
}

.opt-div {
  margin-bottom: 2rem;
}

.opt,
.opt:link,
.opt:visited {
  color: white;
  background-color: #1287a5;
  padding: 0.7rem;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 0.5rem grey;
  margin: 1rem 0.1rem;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
}

.main-section {
  display: flex;
  padding: 2rem;
  background-image: linear-gradient(to top left, #f6e47f, #ff621a);
}
.sidebar {
  width: 350px;
  background-image: linear-gradient(to left top, #192a56, #1287a5);
  height: auto;
  border: 2px solid black;
  margin: 2rem;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.large-main {
  flex: 1;
  height: 500px;
  margin: 2rem;
}

.sidebar-item,
.sidebar-item:link,
.sidebar-item:visited {
  color: black;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  background-color: white;
  padding: 0rem 1rem;
  font-size: 25px;
  border-radius: 5px;
}

.sidebar-item:hover {
  text-decoration: none;
}

.blogs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #f6e47f, #ff621a);
}
.blogs-sub1 {
  display: flex;
  padding: 5rem;
  margin-left: -50px;
}

.blogs-sub1-1 {
  width: 50%;
  height: 500px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs-sub1-2 {
  width: 25%;
  height: 500px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs-sub1-3 {
  flex: 1;
  height: 500px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs-sub2 {
  display: flex;
  padding: 5rem;
  margin-top: -150px;
}

.blogs-sub2-1 {
  height: 500px;
  width: 25%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs-sub2-2 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 500px;
}
.blogs-sub2-3 {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 500px;
}

/* footer */

footer {
  background: rgba(0, 0, 2, 0.1);
  padding: 90px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.left-col div {
  font-size: 2em;
}
.left-col span {
  color: rgba(0, 0, 255, 0.6);
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: rgba(0, 0, 255, 0.6);
}

.content .fas {
  font-size: 1.4375rem;
  background: whitesmoke;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.content .fas:hover {
  background: rgba(0, 0, 255, 0.6);
}
.content .text {
  text-decoration: none;
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.content .phone {
  margin: 15px 0;
}
.right-col h1 {
  font-size: 26px;
}

.border {
  width: 100px;
  height: 4px;
  background: rgba(0, 0, 255, 0.6);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  text-decoration: none;
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  min-width: 260px;
  border-radius: 0.6em;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  color: #f1f1f1;
  background: rgba(0, 0, 255, 0.6);
  border: none;
  font-weight: 700;
  outline: none;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  border-radius: 0.6em;
}

.btn:hover {
  opacity: 0.7;
}

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.contact-us {
  display: flex;
  justify-content: center;
}
.contact {
  font-size: 20px;
  margin-bottom: 50px;
  padding: 50px;
}
.contact-one {
  display: flex;
  justify-content: space-between;
}
.contact-one .contact-name {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.contact-one .contact-email {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.contact-two {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.contact-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #222d61;
}
.contact-input:focus {
  outline: none;
}
.contact-submit {
  margin-top: 30px;
  font-size: 20px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  background-color: #222d61;
  color: white;
}
.contact-submit:hover {
  background-color: white;
  color: #222d61;
  outline: 1px solid #222d61;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .logoimg {
    height: 100px !important;
    width: 100px !important;
  }

  .logo {
    display: flex;
  }

  .PC {
    font-size: 16px !important;
    margin-left: 5px !important;
  }

  .date {
    font-size: 10px !important;
    text-align: right !important;
    margin-left: -30px !important;
  }

  .input-course {
    width: 250px !important;
  }
  .carousel-sec {
    padding: 10rem !important;
  }
  .main-section {
    flex-direction: column;
    align-items: center;
  }
  .video-div {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .vid {
    height: 300px;
    width: 300px !important;
  }
  .blogs-sub1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem !important;
    margin-left: 0px !important;
  }

  .blogs-sub1-1 {
    width: 100%;
    padding: 2rem !important;
    margin-top: -100px;
  }
  .blogs-sub1-2 {
    width: 100%;
    margin-top: -100px;
  }
  .blogs-sub1-3 {
    width: 100%;
  }
  .blogs-sub2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .blogs-sub2-1 {
    width: 100%;
    padding: 2rem !important;
    margin-top: 50px;
  }
  .blogs-sub2-2 {
    width: 100%;
    padding: 2rem !important;
    margin-top: -100px;
  }
  .blogs-sub2-3 {
    width: 100%;
    padding: 2rem !important;
  }
}
@media (max-width: 760px) {
  .contact-one .contact-name {
    width: 200px;
    margin-right: 20px;
  }
  .contact-one .contact-email {
    width: 200px;
  }
}
@media (max-width: 465px) {
  .contact-one .contact-name {
    width: 150px;
    margin-right: 20px;
  }
  .contact-one .contact-email {
    width: 150px;
  }
}

@media only screen and (max-width: 901px) {
  .pseudonav {
    display: none;
  }

  .stryke {
    display: block;
  }

  .tagl {
    text-align: center;
  }
}
