html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}
.brand__name {
  font-size: 30px;
  font-family: "Dancing Script", cursive !important;
  font-weight: 300 !important;
  letter-spacing: 2px;
}
.nav-item {
  font-size: 22px;
}

.navv {
  margin-left: 30%;
}

@media (max-width: 1100px) {
  .navv {
    margin-left: 24%;
  }
}

@media (max-width: 990px) {
  .navv {
    margin-left: 0%;
  }
}
