body {
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  height: 200px;
  background-color: red;
}

.nav__options {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
  border-bottom: 10px solid #2b2b52;
  margin: 10px 0px;
}

.nav__option {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid #2b2b52;
  padding: 10px 20px;
}

.nav__option:hover {
  background-color: #2b2b52;
  color: white;
  cursor: pointer;
  border-radius: 2rem;
}

.home__section {
  display: flex;
}

.home__section-one {
  width: 300px;
  height: 500px;
  background-color: red;
}
.home__section-two {
  /* width: 300px; */
  flex: 1;
  height: 500px;

  background-color: green;
}
.home__section-three {
  width: 300px;
  height: 500px;

  background-color: red;
}

.home__section-three-link {
  font-size: 25px;
}

.blog__section-one {
  height: 260px;
  background-color: yellow;
}
.blog__section-two {
  height: 260px;
  background-color: red;
}
.blog__section-three {
  height: 260px;
  background-color: yellow;
}

.exam__updates {
  text-align: center;
}

.exam__updates-horizontal-scroll {
  display: inline-flex;
  overflow-x: scroll;
}

.exam__updates-horizontal-scroll-item {
  width: 300px;
  height: 300px;
  background-color: green;
}
