<style>
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .links-option {
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
    background-color: #e83350;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .logout-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(26, 26, 87, 0.705);
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }

  .go-back-home {
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(26, 26, 87, 0.705);
    font-weight: 600;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0 0 10px;
  }

  @media (max-width: 750px) {
    .links {
      flex-direction: column;
      margin-top: 100px;
    }
  }
</style>

<div class="links">
  <a class="links-option" href="/superadmin/students">Students List</a>
  <a class="links-option" href="/superadmin/faculty">Teachers List</a>
  <a class="links-option" href="/superadmin/management">Staff</a>
  <a class="links-option" href="/superadmin/subject">SUBJECTS</a>
</div>

<a class="go-back-home" href="/">Home</a>
<a class="logout-btn" href="/superadmin/logout">Logout</a>
