<div class = "links">
    <a href = "/superadmin/students">Students List</a>
    <a href = "/superadmin/faculty">Teachers List</a>
    <a href = "/superadmin/management">Staff</a>
    <a href = "/superadmin/subject">SUBJECTS</a>    
</div>



<a href="/superadmin/logout">Logout</a>