<a
  style="
    text-decoration: none;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    background-color: red;
    margin-bottom: 20px;
  "
  href="/superadmin/acc"
  >Superadmin Home</a
>
<h1>Add Subject</h1>
<form method="POST" action="/superadmin/subject/add">
  <label for="fname">Subject Name:</label><br />
  <input type="text" id="fname" name="name" /><br />
  <label for="fname">Course ID:</label><br />
  <input type="text" id="fname" name="subject_id" /><br />

  <input type="submit" value="Submit" />
</form>
