<head>
  <title><%= title %></title>
</head>

<style>
  body {
    padding: 50px;
  }

  .add-teacher-btn {
    position: absolute;
    top: 10%;
    right: 10%;
    text-decoration: none;
    font-size: 25px;
  }

  .teacher {
    text-decoration: none;
    font-size: 20px;
  }
</style>
<body>
  <a
    style="
      text-decoration: none;
      color: white;
      border-radius: 15px;
      padding: 5px;
      font-size: 20px;
      background-color: red;
      margin-bottom: 20px;
    "
    href="/superadmin/acc"
    >Superadmin Home</a
  >
  <h1>FACULTY LIST</h1>
  <div class="list">
    <ul>
      <% for(var person of people) { %>
      <li>
        <a class="teacher" href="/superadmin/faculty/edit/<%= person._id %>"
          ><%= person.name %></a
        >
      </li>
      <% } %>
    </ul>
  </div>
  <br />
  <br />
  <h3>
    <a class="add-teacher-btn" href="/superadmin/faculty/add">Add Faculty</a>
  </h3>
</body>
