
<h1>Super Admin Login Portal </h1>
<form method = "POST" action="/superadmin/login">
  <label for="fname">Super Admin Username:</label><br>
  <input type="text" id="fname" name="username"><br>
  <label for="lname">SuperAdmin Password</label><br>
  <input type="password" id="lname" name="password"><br><br>
  <input type="submit" value="Submit">
</form> 

