<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <div class = list>
        <ul>
            <% for(var person of people) { %>
            <li><a href = "/superadmin/management/edit/<%= person._id %>"><%= person.name %></a></li>
            <% } %>
        </ul>
    </div>
    <br>
    <br>
    <h3><a href = "/superadmin/management/add">Add Management Staff</a></h3>
</body>