<head>
    <title><%= title %></title>
</head>
<body>
    <h1>SUBJECT LIST</h1>
    <div class = list>
        <ul>
            <% for(var eachSubject of subject) { %>
            <li><a href = "/superadmin/subject/edit/<%= eachSubject._id %>"><%= eachSubject.name %></a></li>
            <% } %>
        </ul>
    </div>
    <br>
    <br>
    <h3><a href = "/superadmin/subject/add">Add Subject</a></h3>
</body>