 <!-- body font -->
 <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
 <!-- heading font -->
<link href="https://fonts.googleapis.com/css2?family=Ewert&display=swap" rel="stylesheet">

<style>
  body{
    background-image: linear-gradient(to right, #17209c , #473391);

    color: white;
  }
  .chapter-heading{
    font-family: 'Ewert', cursive;
    display: flex;
    justify-content: center;
  }
  .ol-div{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .chapter-link{
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
  }
</style>
<div>
  <h1 class="chapter-heading">-: Chapters :-</h1>
</div>
<div class="ol-div">
  <ol class="chapter-ol">
    <li class="chapter-li">
      <a class="chapter-link" href="">Chapter One</a>
    </li>
  </ol>
</div>

