
<h1>Student Login Portal </h1>
<form method = "POST" action="/student/login">
  <label for="fname">Student ID:</label><br>
  <input type="text" id="fname" name="username"><br>
  <label for="lname">Password</label><br>
  <input type="password" id="lname" name="password"><br><br>
  <input type="submit" value="Submit">
</form> 

