<!-- body font -->
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap" rel="stylesheet">
<!-- heading font -->
<link href="https://fonts.googleapis.com/css2?family=Ewert&display=swap" rel="stylesheet">

<style>
  body {
    background-image: linear-gradient(to right, #17209c, #473391);

    color: white;
  }

  .sub-heading {
    font-family: 'Ewert', cursive;
    display: flex;
    justify-content: center;
  }

  .ol-div {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .sub-link {
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
  }
</style>
<div>
  <h1 class="sub-heading">Subjects</h1>
</div>
<div class="ol-div">
  <ol class="sub-ol">
    <%student.subject.forEach((sub)=>{%>
    <li class="sub-li">
      <a class="sub-link" href="/student/subject/<%=sub._id%>"><%= sub.name %>(<%= sub.subject_id %>)</a>
    </li>
    <%})%>
  </ol>
</div>